.centered {
    margin: auto;
}

/*  for pages w/ `pass to EDIT` functionality */

.edit {
    position: relative;
}

.edit:hover .pencil {
    display: block;
}

.pencil {
    padding-top: 10px;	
    padding-right: 2px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}


tr.active {
    background-color: #aaa;
}


tr.full {
    bgcolor: #86C445;
}

tr.partial {
    bgcolor: #eea83f;
}

tr.empty {
    bgcolor: #e92c0a;
}

.under_nav {
    margin-top: 60px !important;
}